@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--scroll-bar-rgb), 0.8) rgba(var(--background-start-rgb), 0.2);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scroll-bar-rgb), 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--background-start-rgb), 0.2);
  border-radius: 10px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #202021;
}